<h1>TO DO</h1>

<div class="cards-container">
  <% @tasks.each do |task| %>
    <div class="card">
      <%= link_to task.title, task_path(task), class:"card-title" %>
      <p><%= task.details %></p>
      <div class="task-controls">
        <%= link_to "Edit", edit_task_path(task) %>
        <%= link_to "Delete", task_path(task), class:"text-danger", method: 'delete', data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  <% end %>
</div>

<div class="btn-container">
  <%= link_to  "Create new task", new_task_path, class: "btn btn-primary"  %>
</div>
